<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en">
    <head>
        <title th:remove="all">Template for HTML email Funding</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Dear <span th:text="${fullName}">Nguyen Thuy Minh</span>,
        </p>
        <p>
            We are pleased to inform you that loan account no <span th:text="${contractNumber}">#123444444</span> has been disbursed with following details: <br />
            <strong>Loan account no.:</strong> <span th:text="${contractNumber}">#123444444</span> <br />
            <strong>Disbursement date:</strong> <span th:text="${#dates.format(disbursementDate, 'dd/MM/yyyy HH:mm:ss')}">09/10/2020 10:10:10</span> <br />
            <strong>Disbursement amount:</strong> <span th:text="${#numbers.formatDecimal(disbursementAmount, 0, 'COMMA', 0, 'POINT')}">10,000,000</span> VND <br />
            <strong>Beneficiary account:</strong> <span th:text="${bankAccount}">19003488882333</span> <br />
            <strong>Beneficiary name:</strong> <span th:text="${bankName}">Nguyen Thuy Minh</span> <br />
            <strong>Beneficiary Bank:</strong> <span th:text="${bankCode}">BIDV</span> <br/>
        </p>
        <p>
            Thank you for using our <span th:text="${productName}">Product name</span>  service.
        </p>
        <p>
            Should you need further information, please kindly contact our Service Point at tel 1900 0008 for assistance.
        </p>
        <p>
            Best regards, <br />
            <strong>ABC Bank</strong>
        </p>
    </body>
</html>
